.TemplateTable {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid
}
.TemplateTableRow {
	BORDER-RIGHT: medium none; BORDER-TOP: #000000 1px solid; BORDER-LEFT: medium none; BORDER-BOTTOM: #000000 1px solid
}
.Tablemenus {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
A.menulinks {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"; TEXT-DECORATION: none
}
A.menulinks:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"; TEXT-DECORATION: none
}
A.menulinks:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"; TEXT-DECORATION: underline
}
A.menulinks:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"; TEXT-DECORATION: underline
}
P {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"
}
A.greylink {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"; TEXT-DECORATION: none
}
A.greylink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"; TEXT-DECORATION: none
}
A.greylink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"; TEXT-DECORATION: underline
}
A.greylink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"; TEXT-DECORATION: underline
}
.greytext {
	FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.TemplateLightText {
	FONT-SIZE: 9px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.FormFields {
	BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #003366 1px solid; COLOR: #000000; BORDER-BOTTOM: #003366 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f7f7f7
}
.FormButton {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #6699cc 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #6699cc 1px solid; CURSOR: hand; COLOR: #003366; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #b4daf5
}
.sectiontitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.table {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ecf7ff
}
.table_top {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabletitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tableborder {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eff7ff
}
.sub_title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: disc
}
A.sub_title_link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.sub_title_link:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.sub_title_link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.sub_title_link:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.required {
	FONT-SIZE: 10px; COLOR: #ff0000
}
.helptableborder {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
.FormFieldsError {
	BORDER-RIGHT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ff0000 1px solid; COLOR: #000000; BORDER-BOTTOM: #ff0000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f7f7f7
}
TABLE {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"
}
.table_topError {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff0000
}
H1 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.HeaderSpan {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.crosslink {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"
}
A.crosslink:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"
}
A.crosslink:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"
}
A.crosslink:active {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "VERDANA", "ARIAL", "HELVETICA"
}
